<ion-header>
    <ion-toolbar>
        <ion-title>
            Bearbeite {{player.ingameName}}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row class="ion-text-center">
            <ion-header>
                <strong>Bonus DKP</strong>
            </ion-header>
            <ion-col size="5">

                <ion-button expand="block" color="warning">
                    <strong>
                        -5 DKP
                    </strong>
                </ion-button>
            </ion-col>
            <ion-col class="ion-text-center" size="2">
                <ion-input type="number"  value="{{0}}"></ion-input>
            </ion-col>
            <ion-col size="5">
                <ion-button expand="block" color="warning">
                    <strong>
                        +5 DKP
                    </strong>
                </ion-button>
            </ion-col>
            <ion-footer>
                <strong>
                    Grund:
                </strong>
                <ion-textarea color="warning">

                </ion-textarea>
                <ion-input>
                </ion-input>
            </ion-footer>
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-header>
                <strong>Straf DKP</strong>
            </ion-header>
            <ion-col size="5">

                <ion-button expand="block" color="warning">
                    <strong>
                        -5 DKP
                    </strong>
                </ion-button>
            </ion-col>
            <ion-col class="ion-text-center" size="2">
                <ion-input type="number"  value="{{0}}"></ion-input>
            </ion-col>
            <ion-col size="5">
                <ion-button expand="block" color="warning">
                    <strong>
                        +5 DKP
                    </strong>
                </ion-button>
            </ion-col>
            <ion-footer>
                <strong>
                    Grund:
                </strong>
                <ion-textarea color="warning">

                </ion-textarea>
                <ion-input>
                </ion-input>
            </ion-footer>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-button expand="block" color="success">
                    <strong>
                        Speichern
                    </strong>
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="!player.isAdmin">
            <ion-col>
                <ion-button disabled="{{player.isAdmin}}" (click)="promoteToAdmin()" expand="block" color="danger">
                    <strong>
                        Befördere {{player.ingameName}} zum Admin
                    </strong>
                </ion-button>
            </ion-col>
        </ion-row>


        <ion-row *ngIf="myChar.isAdmin && myChar.ingameName.toLowerCase() === 'malfoy' && player.isAdmin">
            <ion-col>
                <ion-button (click)="demoteAdmin()" expand="block" color="danger">
                    <strong>
                        Entziehe {{player.ingameName}} die Admin Rolle
                    </strong>
                </ion-button>
            </ion-col>
        </ion-row>


    </ion-grid>
</ion-content>
