<ion-header>
    <ion-toolbar>
        <ion-title>
            Bearbeite {{player.ingameName}}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row class="ion-text-center">
            <ion-header class="ion-margin">
                <h2>Bonus DKP</h2>
            </ion-header>
            <ion-col size="3">
                <ion-header>
                    <strong>
                       Gildenspende
                    </strong>
                </ion-header>
                <ion-button (click)="createAndPostDkpEntry(5 , 'Gildenspende')" expand="block" color="warning">
                    <strong>
                        +5 DKP
                    </strong>
                </ion-button>
            </ion-col>
            <ion-col size="3">
                <strong>
                   Antritt, pünktlich
                </strong>
                <ion-button (click)="createAndPostDkpEntry(5 , 'Antritt, pünktlich')"  expand="block" color="warning">
                    <strong>
                        +5 DKP
                    </strong>
                </ion-button>
            </ion-col>
            <ion-col size="3">
                <ion-header>
                    <strong>
                        Material Spende
                    </strong>
                </ion-header>
                <ion-button  (click)="createAndPostDkpEntry(10 , 'Material Spende')"  expand="block" color="warning">
                    <strong>
                        +10 DKP
                    </strong>
                </ion-button>
            </ion-col>
            <ion-col size="3">
                <ion-header>
                    <strong>
                        Bosskill
                    </strong>
                </ion-header>
                <ion-button  (click)="createAndPostDkpEntry(10 , 'Bosskill')" expand="block" color="warning">
                    <strong>
                        +10 DKP
                    </strong>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-header class="ion-margin">
                <h2>Straf DKP</h2>
            </ion-header>
            <ion-col size="4">
                <ion-header>
                    <strong>
                        Raidzusage, kein Antritt
                    </strong>
                </ion-header>
                <ion-button  (click)="createAndPostDkpEntry(-20 , 'Raidzusage, kein Antritt')" expand="block" color="danger">
                    <strong>
                        -20 DKP
                    </strong>
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <strong>
                    Antritt, zu spät
                </strong>
                <ion-button (click)="createAndPostDkpEntry(-5 , 'Antritt, zu spät')" expand="block" color="danger">
                    <strong>
                        -5 DKP
                    </strong>
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-header >
                    <strong>
                        Keine Consumables
                    </strong>
                </ion-header>
                <ion-button (click)="createAndPostDkpEntry(-15 , 'Keine Consumables')" expand="block" color="danger">
                    <strong>
                        -15 DKP
                    </strong>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="myChar.isAdmin" class="ion-justify-content-center ion-padding-top ion-padding-bottom">
            <ion-col >
                <ion-row>

                    <ion-col >
                        <ion-item style="width: 100%; height: 100%">
                            <ion-label position="floating">DKP</ion-label>
                            <ion-input (ionChange)="changeDkp($event)" type="number"></ion-input>
                        </ion-item>

                    </ion-col>
                    <ion-col >
                        <ion-item style="width: 100%; height: 100%">
                            <ion-label position="floating">Grund</ion-label>
                            <ion-input (ionChange)="changeReason($event)"></ion-input>
                        </ion-item>

                    </ion-col>
                    <ion-col size="3" class="ion-text-center">

                        <ion-button  style="width: 100%; height: 100%" disabled="{{!this.dkp || !this.reason}}" (click)="createAndPostDkpEntry(this.dkp, this.reason)" color="{{myChar.playerClass.toString().toLowerCase()}}">
                            DKP vergeben
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="!player.isAdmin" class="ion-padding-top">
            <ion-col>
                <ion-button disabled="{{player.isAdmin}}" (click)="promoteToAdmin()" expand="block" color="danger">
                    <strong>
                        Befördere {{player.ingameName}} zum Admin
                    </strong>
                </ion-button>
            </ion-col>
        </ion-row>


        <ion-row class="ion-padding-top" *ngIf="myChar.isAdmin && myChar.mail === 'patrice.bender@hotmail.de' && player.isAdmin">
            <ion-col>
                <ion-button (click)="demoteAdmin()" expand="block" color="danger">
                    <strong>
                        Entziehe {{player.ingameName}} die Admin Rolle
                    </strong>
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row class="ion-padding-top" *ngIf="!player.isRaidlead" >
            <ion-col>
                <ion-button (click)="promoteToRaidlead()" expand="block" color="danger">
                    <strong>
                        Erteile {{player.ingameName}} Organisations Rechte
                    </strong>
                </ion-button>
            </ion-col>
        </ion-row>


        <ion-row class="ion-padding-top" *ngIf="player.isRaidlead && myChar.isAdmin">
            <ion-col>
                <ion-button (click)="demoteRaidlead()" expand="block" color="danger">
                    <strong>
                        Entziehe {{player.ingameName}} die Organisations Rechte
                    </strong>
                </ion-button>
            </ion-col>
        </ion-row>


    </ion-grid>
</ion-content>
