<ion-header>
    <ion-toolbar>
        <ion-title>
          Erstelle einen neuen Raid {{player.ingameName}}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Dungeon Name:</ion-label>
            <ion-select
                    (ionChange)="setDungeonName($event)" placeholder="Bitte auswählen">
                <ion-select-option *ngFor="let name of dungeonNames">{{name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>


            <ion-label>Maximale Spieleranzahl:</ion-label>


            <ion-input (ionChange)="setPlayerLimit($event)" value="{{this.playerLimit}}" class="ion-float-right"
                       type="number"></ion-input>


        </ion-item>

        <ion-item>
            <ion-label>Start Datum:</ion-label>
            <ion-datetime
                    (ionChange)="setDate($event)"
                    min="2020"
                    max="2021"
                    displayFormat="HH:mm DDDD, MMM D" pickerFormat="YYYY MMM DDD HH:mm"
                    value="{{date}}"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Dauer in Stunden:</ion-label>
            <ion-input
                    (ionChange)="setDuration($event)"
                    value="{{this.duration}}" class="ion-float-right" type="number"></ion-input>
        </ion-item>
        <ion-item >
            <ion-label>Beschreibung:</ion-label>
            <ion-textarea (ionChange)="setDescription($event)" ></ion-textarea>
        </ion-item>
        <ion-row class="ion-justify-content-center">
            <ion-button (click)="dismiss()" disabled="{{!isValidRaid()}}" color="{{this.player.playerClass.toString().toLowerCase()}}"><strong> Raid Erstellen </strong>
            </ion-button>

        </ion-row>

    </ion-list>
</ion-content>
