<ion-header>
    <ion-toolbar>
        <ion-title>
            {{!this.existingRaid ? 'Neuen Raid erstellen' : 'Raid bearbeiten'}}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Dungeon:</ion-label>
            <ion-select
                    (ionChange)="setDungeonName($event)" placeholder="Bitte auswählen" value="{{this.dungeonName}}">
                <ion-select-option *ngFor="let name of dungeonNames">{{name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Raidlead:</ion-label>
            <ion-select
                    selectedText="{{this.raidLead.ingameName}}"
                    (ionChange)="setRaidLead($event)"
                  >
                <ion-select-option [value]="player" *ngFor="let player of raidLeads">{{player.ingameName}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Start Datum:</ion-label>
            <ion-datetime
                    (ionChange)="setDate($event)"
                    min="2020"
                    max="2020"
                    displayFormat="DDDD, MMM D" pickerFormat="MMM DDD"
                    value="{{date}}"></ion-datetime>
        </ion-item>


        <ion-item>
            <ion-label>Pull Zeit:</ion-label>
            <ion-datetime
                    (ionChange)="setHours($event)"
                    displayFormat="HH:mm" pickerFormat="HH:mm"
                    value="{{date}}"></ion-datetime>
        </ion-item>

        <ion-item>

            <ion-label>Invite:</ion-label>
            <ion-radio-group value="{{invite}}" (ionChange)="changeInviteTime($event)" class="verticalAndHorizontalCenter">

                <ion-item>
                    <ion-label>-15 Minuten</ion-label>
                    <ion-radio slot="start" value="15"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>-30 Minuten</ion-label>
                    <ion-radio slot="start" value="30"></ion-radio>
                </ion-item>

            </ion-radio-group>
        </ion-item>


        <ion-item>
            <ion-label>Beschreibung:</ion-label>
            <ion-textarea (ionChange)="setDescription($event)" value="{{description}}"></ion-textarea>
        </ion-item>
        <ion-row class="ion-justify-content-center">
            <ion-button (click)="dismiss()" disabled="{{!isValidRaid()}}"
                        color="{{this.myChar.playerClass.toString().toLowerCase()}}">
                <strong>
                    {{!this.existingRaid ? 'Raid erstellen' : 'Raid aktualisieren'}}
                </strong>
            </ion-button>

        </ion-row>

    </ion-list>
</ion-content>
