<ion-header>
    <ion-toolbar class="ion-margin-horizontal">
        <ion-row>
            <ion-col size="1">
                <ion-avatar class="ion-float-right">
                    <img src="../assets/dungeons/{{raid.dungeonName}}.png">
                </ion-avatar>
            </ion-col>
            <ion-col size=7>
                <h4> Registrierungen für den {{raid.dungeonName}} Raid</h4>

            </ion-col>

            <ion-col *ngIf="!raid.isClosed && isUserAllowedToEdit" size="4">
                <ion-button style="width: 100%" (click)="presentConfirmCloseRaid()" color="danger">
                    <ion-icon name="close-circle-outline"></ion-icon>
                    Raidanmeldung Schließen
                </ion-button>
            </ion-col>
            <ion-col *ngIf="raid.isClosed && isUserAllowedToEdit" size="4">
                <ion-button style="width: 100%" (click)="closeOrOpenRaid(false)" color="success">
                    <ion-icon name="arrow-undo-outline"></ion-icon>
                    Raidanmeldung öffnen
                </ion-button>
            </ion-col>
        </ion-row>

    </ion-toolbar>

</ion-header>

<ion-content>


    <ion-header class="ion-margin"><h1>{{raid.description}}</h1></ion-header>


    <ion-card *ngIf="myChar.isAdmin && (raid.dungeonName.includes('Blackwing Lair') || raid.dungeonName.includes('BWL'))">
        <ion-row *ngIf="raid.hasStarted" class="verticalAndHorizontalCenter ion-no-padding">
            <ion-col size="3" class="ion-margin-bottom">
                <ion-text color="{{myChar.playerClass.toString().toLowerCase()}}">
                    <h2> Bosskill: </h2>
                </ion-text>

            </ion-col>


            <ion-col size="4.5">

                <ion-select placeholder="Boss wählen" (ionChange)="setBossKill($event)">
                    <ion-select-option *ngFor="let boss of bossList" value="{{boss}}">
                        {{boss}}
                    </ion-select-option>
                </ion-select>
            </ion-col>


            <ion-col size="4.5" class="ion-text-center">

                <ion-button style="width: 100%" disabled="{{!this.boss}}" (click)="showCreateAuctionModal()"
                            color="{{myChar.playerClass.toString().toLowerCase()}}">
                    Auktionen erstellen & DKP vergeben
                </ion-button>
            </ion-col>
        </ion-row>


        <ion-row *ngIf="!raid.hasStarted" class="verticalAndHorizontalCenter ion-no-padding">
            <ion-button style="width: 100%" (click)="presentConfirmStartRaid()"
                        color="{{myChar.playerClass.toString().toLowerCase()}}">
                Antritts DKP verteilen und Raid Starten
            </ion-button>
        </ion-row>

    </ion-card>

    <ion-card>
        <ion-grid>
            <ion-row class="ion-text-center">
                <ion-col size="4">
                    <ion-chip class="ion-margin-horizontal">
                        <ion-avatar>
                            <img src="../assets/role/heal.png">
                        </ion-avatar>
                        <ion-label class="ion-float-right">
                            {{confirmedHeals.length}}
                        </ion-label>
                    </ion-chip>
                </ion-col>
                <ion-col size="4">
                    <ion-chip class="ion-margin-horizontal">
                        <ion-avatar>
                            <img src="../assets/role/dd.png">
                        </ion-avatar>
                        <ion-label class="ion-float-right">
                            {{confirmedDDs.length}}
                        </ion-label>
                    </ion-chip>
                </ion-col>
                <ion-col size="4">
                    <ion-chip class="ion-margin-horizontal">
                        <ion-avatar>
                            <img src="../assets/role/tank.png">
                        </ion-avatar>
                        <ion-label class="ion-float-right">
                            {{confirmedTanks.length}}
                        </ion-label>
                    </ion-chip>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-row>
                <ion-col size="9">
                    <ion-card-title style="padding-top: 0.5em">
                        ✅ {{raid.confirm.length}}
                    </ion-card-title>
                </ion-col>


            </ion-row>
            <ion-row *ngIf="myChar.isAdmin">
                <ion-col>
                    <ion-row>
                        <ion-col size="3" class="ion-margin-bottom">
                            <ion-text color="{{myChar.playerClass.toString().toLowerCase()}}">
                                <h2> DKP vergeben: </h2>
                            </ion-text>

                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">DKP</ion-label>
                                <ion-input (ionChange)="changeDkp($event)" type="number"></ion-input>
                            </ion-item>

                        </ion-col>
                        <ion-col size="3">
                            <ion-item>
                                <ion-label position="floating">Grund</ion-label>
                                <ion-input (ionChange)="changeReason($event)"></ion-input>
                            </ion-item>

                        </ion-col>
                        <ion-col size="3" class="ion-text-center">

                            <ion-button disabled="{{!this.dkp || !this.reason}}" (click)="postDkpEntriesForConfirmed()"
                                        color="{{myChar.playerClass.toString().toLowerCase()}}">
                                DKP an alle vergeben
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>

        </ion-card-header>
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let playerClass of allClasses" size="4">
                    <ion-card class="ion-margin-bottom">
                        <ion-card-content>
                            <ion-chip class="ion-justify-content-center" style="width: 100%; background: none">
                                <ion-avatar>
                                    <img src="../assets/class/{{playerClass.toString().toLowerCase()}}.png">

                                </ion-avatar>
                                <ion-label>
                                    {{playerClass}}
                                </ion-label>
                            </ion-chip>
                            <ion-chip
                                    class="ion-justify-content-center"

                                    style="width: 45%;"


                                    *ngFor="let confirmedPlayer of findConfirmedPlayersOfOneClassByString(playerClass) "
                            >
                                <ion-avatar class="ion-float-left">
                                    <img src="../assets/spec/{{confirmedPlayer.playerClass.toString().toLowerCase()}}/{{confirmedPlayer.talent.toLowerCase()}}.png">
                                </ion-avatar>
                                <ion-label class="ion-float-right">
                                    {{confirmedPlayer.ingameName}}
                                </ion-label>
                                <ion-icon color="danger" *ngIf="isUserAllowedToEdit"
                                          (click)="presentMovePlayerAlert(confirmedPlayer)"
                                          name="open-outline"></ion-icon>
                            </ion-chip>
                        </ion-card-content>

                    </ion-card>

                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card>

    <ion-card class="ion-margin">
        <ion-card-header>
            <ion-row>


                <ion-col size="1">
                    <ion-card-title style="padding-top: 0.5em">
                        🪑 {{raid.bench.length}}
                    </ion-card-title>
                </ion-col>
            </ion-row>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col *ngFor="let reg of raid.bench" size="3">
                        <ion-chip class="ion-margin-horizontal">
                            <ion-avatar>
                                <img src="../assets/class/{{reg.player.playerClass.toString().toLowerCase()}}.png">
                            </ion-avatar>
                            <ion-label class="ion-float-right">
                                {{reg.player.ingameName}}
                            </ion-label>
                            <ion-icon color="danger" *ngIf="isUserAllowedToEdit"
                                      (click)="presentMovePlayerAlert(reg.player)"
                                      name="open-outline"></ion-icon>
                        </ion-chip>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>

    </ion-card>
    <ion-card>
        <ion-card-title class="ion-margin">
            ⌛️ {{raid.late.length}}
        </ion-card-title>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col *ngFor="let reg of raid.late" size="3">
                        <ion-chip class="ion-margin-horizontal">
                            <ion-avatar>
                                <img src="../assets/class/{{reg.player.playerClass.toString().toLowerCase()}}.png">
                            </ion-avatar>
                            <ion-label class="ion-float-right">
                                {{reg.player.ingameName}}
                            </ion-label>
                            <ion-icon color="danger" *ngIf="isUserAllowedToEdit"
                                      (click)="presentMovePlayerAlert(reg.player)"
                                      name="open-outline"></ion-icon>
                        </ion-chip>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>

    </ion-card>
    <ion-card>
        <ion-card-title class="ion-margin">
            ❌ {{raid.decline.length}}
        </ion-card-title>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col *ngFor="let reg of raid.decline" size="3">
                        <ion-chip class="ion-margin-horizontal">
                            <ion-avatar>
                                <img src="../assets/class/{{reg.player.playerClass.toString().toLowerCase()}}.png">
                            </ion-avatar>
                            <ion-label class="ion-float-right">
                                {{reg.player.ingameName}}
                            </ion-label>
                            <ion-icon color="danger" *ngIf="isUserAllowedToEdit"
                                      (click)="presentMovePlayerAlert(reg.player)"
                                      name="open-outline"></ion-icon>
                        </ion-chip>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>

    </ion-card>


</ion-content>
