
<ion-header>
    <ion-row>
        <ion-col>
            <ion-button type="round" (click)="showCreateAuctionModal()"
                        *ngIf="myChar.isAdmin"
                        color="{{myChar.playerClass.toString().toLowerCase()}}" expand="block">
                <strong>
                    Neue Auktion Erstellen
                </strong>
            </ion-button>
        </ion-col>
        <ion-col class="ion-text-center" size="2.5">
            <ion-button *ngIf="!isHistoryShown"
                        style="width: 100%"
                        color="{{myChar.playerClass.toString().toLowerCase()}}"
                        (click)="toggleHistory()">
                <ion-icon name="eye-outline"></ion-icon>
                Zeige Historie
            </ion-button>
            <ion-button *ngIf="isHistoryShown"
                        style="width: 100%"
                        color="{{myChar.playerClass.toString().toLowerCase()}}"
                        (click)="toggleHistory()">
                <ion-icon name="eye-off-outline"></ion-icon>
                Verstecke Historie
            </ion-button>
        </ion-col>
        <ion-col class="ion-text-center" style="width: 100%" size="1">
            <ion-button color="{{myChar.playerClass.toString().toLowerCase()}}" (click)="updateAuctions()">
                <ion-icon name="refresh"></ion-icon>

            </ion-button>

        </ion-col>

    </ion-row>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-card *ngFor="let auction of filteredAuctions">
            <ion-row *ngIf="!auction.isClosed" class="verticalAndHorizontalCenter">
                <ion-col class="ion-text-center" size="1">
                <ion-button style="width: 100%;" color="{{myChar.playerClass.toString().toLowerCase()}}">
                    <ion-icon

                            name="people-outline"></ion-icon>
                    <ion-label class="ion-padding-start">{{auction.bidCount || 0}}</ion-label>
                </ion-button>

            </ion-col>
                <ion-col  size="2">
                    <ion-button  *ngIf="myChar._id === auction.createdBy._id && !auction.isClosed" color="{{myChar.playerClass.toString().toLowerCase()}}"
                                (click)="presentCloseAuction(auction)" style="width: 100%;">
                        <ion-label>
                            Auktion Beenden
                        </ion-label>
                    </ion-button>

                </ion-col>
                <ion-col size="5">
                    <ion-item class="ion-text-center">

                        <ion-label>
                            <h1>
                                <a class="epic"
                                   target="_blank"
                                   href="https://{{myChar.prefersEnglish ? 'us.' : 'de.'}}classic.wowhead.com/item={{auction.item.ingameId}}"
                                >
                                </a>
                            </h1>
                        </ion-label>
                    </ion-item>
                </ion-col>

                <ion-col >

                </ion-col>


                <ion-col *ngIf="!myCharAlreadyBet(auction)" size="3">
                    <ion-button (click)="showBidModal(auction)" color="{{myChar.playerClass.toString().toLowerCase()}}"
                                style="width: 100%">
                        <ion-icon name="wallet-outline"></ion-icon>
                        Gebot Abgeben
                    </ion-button>
                </ion-col>

                <ion-col *ngIf="myCharAlreadyBet(auction)" size="1.5">
                    <ion-button (click)="showBidModal(auction)" color="{{myChar.playerClass.toString().toLowerCase()}}"
                                style="width: 100%">
                        <ion-icon name="pencil-outline"></ion-icon>
                        <ion-label>
                            Gebot Ändern
                        </ion-label>
                    </ion-button>
                </ion-col>
                <ion-col *ngIf="myCharAlreadyBet(auction)" size="1.5">
                    <ion-button (click)="deleteMyBid(auction)" color="{{myChar.playerClass.toString().toLowerCase()}}"
                                style="width: 100%">
                        <ion-icon name="close-circle-outline"></ion-icon>
                        <ion-label>
                            Gebot Löschen
                        </ion-label>
                    </ion-button>
                </ion-col>


            </ion-row>
            <ion-row *ngIf="auction.isClosed && auction.winnerBid">


                <ion-col size="2">
                    <ion-button style="width: 100%;" color="{{myChar.playerClass.toString().toLowerCase()}}">

                        {{auction.winnerBid.player.ingameName}} gewinnt
                    </ion-button>
                </ion-col>
                <ion-col class="ion-text-center" style="width: 100%; height: 100%"  size="1">
                    <ion-button *ngIf="myChar.isAdmin" (click)="presentDeleteConfirm(auction)" color="danger">
                        <ion-icon
                                size="large"
                                name="close-circle-sharp"></ion-icon>
                    </ion-button>

                </ion-col>

                <ion-col  size="5">

                    <ion-item class="ion-text-center">
                        <ion-label>
                            <h1>
                                <a class="epic"
                                   target="_blank"
                                   href="https://{{myChar.prefersEnglish ? 'us.' : 'de.'}}classic.wowhead.com/item={{auction.item.ingameId}}"
                                >
                                </a>
                            </h1>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col class="verticalCenter" size="1">
                    <ion-badge color="{{myChar.playerClass.toString().toLowerCase()}}" *ngIf="auctionWasToday(auction)">Heute🔥</ion-badge>

                </ion-col>
                <ion-col size="3">
                    <ion-button color="{{myChar.playerClass.toString().toLowerCase()}}" style="width: 100%">
                        <ion-icon name="cash-outline"></ion-icon>
                        <ion-label class="ion-padding-start">
                            {{auction.winnerBid.dkpBid}} DKP
                        </ion-label>
                    </ion-button>
                </ion-col>

            </ion-row>
            <ion-row *ngIf="auction.isClosed && !auction.winnerBid" class="verticalAndHorizontalCenter">


                <ion-col class="ion-justify-content-center" size="2">
                    <ion-button style="width: 100%;" color="{{myChar.playerClass.toString().toLowerCase()}}">
                        niemand gewinnnt
                    </ion-button>
                </ion-col>

                <ion-col class="ion-text-center" style="width: 100%; height: 100%"  size="1">
                    <ion-button *ngIf="myChar.isAdmin" (click)="presentDeleteConfirm(auction)" color="danger">
                        <ion-icon (click)="presentDeleteConfirm(auction)"
                                  size="large"
                                  name="close-circle-sharp"></ion-icon>
                    </ion-button>

                </ion-col>

                <ion-col size="5">
                    <ion-item class="ion-text-center">

                        <ion-label>
                            <h1>
                                <a class="epic"
                                   target="_blank"
                                   href="https://{{myChar.prefersEnglish ? 'us.' : 'de.'}}classic.wowhead.com/item={{auction.item.ingameId}}"
                                   >
                                </a>
                            </h1>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col class="verticalCenter" size="1">
                    <ion-badge color="{{myChar.playerClass.toString().toLowerCase()}}" *ngIf="auctionWasToday(auction)">Heute🔥</ion-badge>

                </ion-col>

                <ion-col size="3">
                    <ion-button color="{{myChar.playerClass.toString().toLowerCase()}}" style="width: 100%">
                        <ion-icon name="skull-outline"></ion-icon>
                    </ion-button>
                </ion-col>

            </ion-row>
        </ion-card>

    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="loadMoreAuctions($event)">
        <ion-infinite-scroll-content

                loadingSpinner="bubbles"
                loadingText="Lade mehr Logs">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
