<ion-grid class="vertical-align-content">
    <ion-row *ngIf="player" class="ion-justify-content-center ion-align-items-center">
        <ion-col>
            <ion-button (click)="this.showChangeUserModal()" color="{{player.playerClass.toString().toLowerCase()}}">
                <ion-icon  name="hammer-outline" >

                </ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size="3">
            <ion-text style="font-size: 1.8em">
                {{player.ingameName}}
            </ion-text>
        </ion-col>
        <ion-col size="3">
            <ion-text>
                <ion-text style="font-size: 1.5em">DKP: {{player.dkp}}
                </ion-text>
            </ion-text>
        </ion-col>
        <ion-col size="3">
            <ion-row>
                <ion-text style="font-size: 1.5em" [ngClass]="player.playerClass.toString().toLowerCase()">
                    {{player.playerClass}}
                </ion-text>
            </ion-row>
            <ion-row class="ion-margin-top">
                <ion-text style="font-size: 1.5em"> {{player.spec}} </ion-text>
            </ion-row>
        </ion-col>
        <ion-col size="2">
            <ion-avatar class="ion-float-right">
                <img src="../assets/role/{{player.spec.toString().toLowerCase()}}.png">
            </ion-avatar>
            <ion-avatar class="ion-float-right">
                <img src="../assets/class/{{player.playerClass.toString().toLowerCase()}}.png">
            </ion-avatar>
        </ion-col>
    </ion-row>
</ion-grid>
