<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-grid>
            <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-col size="6">

                    <ion-title>
                        Why Not 😎 DKP Manager
                    </ion-title>
                </ion-col>


                <ion-col
                        *ngIf="isAuthenticated"
                        class="ion-float-right">
                    <ion-button (click)="logout()" class="ion-float-right" color="blue">
                        <strong>Logout</strong>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <app-player-widget></app-player-widget>
                </ion-col>

            </ion-row>
        </ion-grid>

    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-tabs *ngIf="player">
        <ion-tab-bar slot="top">
            <ion-tab-button [ngClass]="player.playerClass.toString().toLowerCase()" tab="raids">
                <ion-icon name="calendar-sharp"></ion-icon>
                <ion-label>Raid Planer</ion-label>
            </ion-tab-button>
            <ion-tab-button [ngClass]="player.playerClass.toString().toLowerCase()" tab="guild">
                <ion-icon name="people-sharp"></ion-icon>
                <ion-label>Gildenübersicht</ion-label>
            </ion-tab-button>
            <ion-tab-button [ngClass]="player.playerClass.toString().toLowerCase()" tab="auctions">
                <ion-icon name="cash-outline"></ion-icon>
                <ion-label>Auktionen</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
    <ion-card class="ion-text-center" *ngIf="!player">
        <ion-spinner style="font-size: 10em" name="crescent"></ion-spinner>
    </ion-card>

</ion-content>
