<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-grid>
            <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-col size="6">

                    <ion-title>
                        OG Kush DKP Manager
                    </ion-title>
                </ion-col>


                <ion-col
                        *ngIf="isAuthenticated" (click)="logout()"
                        class="ion-float-right">
                    <ion-button class="ion-float-right" color="blue">
                        <strong>Logout</strong>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <app-player-widget></app-player-widget>
                </ion-col>

            </ion-row>
        </ion-grid>

    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-tabs *ngIf="player">
        <ion-tab-bar slot="top">
            <ion-tab-button [ngClass]="player.playerClass.toString().toLowerCase()"  tab="raids">
                <ion-icon name="person-circle-outline"></ion-icon>
                <ion-label>Raid Planer</ion-label>
            </ion-tab-button>
            <ion-tab-button [ngClass]="player.playerClass.toString().toLowerCase()"  tab="guild">
                <ion-icon name="person-circle-outline"></ion-icon>
                <ion-label>Gildenübersicht</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
