<ion-header>
    <ion-toolbar>
        <ion-title>
            DKP History für {{player.ingameName}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>

        <ion-card class="ion-padding vertical-align-content" *ngFor="let dkpLog of entries">
            <ion-row>
                <ion-col size="2" class="ion-float-left">
                  <ion-badge color="{{dkpLog.dkp > 0 ? 'success' : 'danger'}}" style="font-size: 1.5em">
                    {{dkpLog.dkp > 0 ? '+' + dkpLog.dkp  : dkpLog.dkp}}
                  </ion-badge>
                  <ion-text class="ion-float-right ion-margin-top" style="font-size: 1em">
                    von {{dkpLog.author}}
                  </ion-text>
                </ion-col>
                <ion-col class="ion-padding-top">


                    <ion-text style="font-size: 1.2em">
                        <strong>
                            <ion-datetime class="ion-no-padding" disabled="true" displayFormat="HH:mm DDDD, MMM D"
                                          value="{{dkpLog.date}}">
                            </ion-datetime>
                        </strong>
                    </ion-text>

                </ion-col>
                <ion-col class="ion-padding-top">
                    <ion-text style="font-size: 1em">
                        {{dkpLog.dkpLogType}}
                    </ion-text>
                </ion-col>
                <ion-col class="ion-padding-top ion-float-right">
                    <ion-text style="font-size: 1em">
                        {{dkpLog.reason}}
                    </ion-text>
                </ion-col>

            </ion-row>

        </ion-card>


    </ion-grid>
</ion-content>
