<ion-header>
    <ion-toolbar>
        <ion-title>
            Bitte vervollständige dein Profil!
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-label><Strong> {{player.ingameName}} </Strong> </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>Klasse</ion-label>
            <ion-avatar *ngIf="_playerClass">
                <img src="../assets/class/{{_playerClass.toString().toLowerCase()}}.png">
            </ion-avatar>
            <ion-select class="ion-float-right" (ionChange)="setPlayerClass($event)">
                <ion-select-option *ngFor="let playerClass of playerClasses"
                                   value="{{playerClass}}">{{playerClass}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item disabled="{{!_playerClass}}">
            <ion-label>Spec</ion-label>
            <ion-select (ionChange)="setPlayerSpec($event)" (error)="true">
                <ion-select-option *ngFor="let spec of specs" value="{{spec}}"

                >{{spec}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-row class="ion-justify-content-center">
            <ion-button disabled="{{(!playerClass || !spec)}}" (click)="postUser()"><strong> SPEICHERN </strong></ion-button>
            <ion-button  (click)="logout()"><strong> LOGOUT </strong></ion-button>
        </ion-row>
    </ion-list>
</ion-content>
