<ion-header>
  <ion-toolbar>
    <ion-title>
      Charakter Ändern
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label><Strong> {{player.ingameName}} </Strong> </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Klasse</ion-label>
      <ion-avatar *ngIf="playerClass">
        <img src="../assets/class/{{playerClass.toString().toLowerCase()}}.png">
      </ion-avatar>
      <ion-select class="ion-float-right" (ionChange)="setPlayerClass($event)">
        <ion-select-option *ngFor="let playerClass of playerClasses"
                           value="{{playerClass}}">{{playerClass}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item disabled="{{!playerClass}}">
      <ion-label>Talent</ion-label>
      <ion-avatar *ngIf="talent">
        <img src="../assets/spec//{{playerClass.toString().toLowerCase()}}/{{talent.toString().toLowerCase()}}.png">
      </ion-avatar>
      <ion-select (ionChange)="setPlayerTalent($event)">
        <ion-select-option *ngFor="let talent of talents" value="{{talent}}"

        >{{talent}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item disabled="{{!playerClass || !talent}}">
      <ion-label>Spec</ion-label>
      <ion-select (ionChange)="setPlayerSpec($event)">
        <ion-select-option *ngFor="let spec of specs" value="{{spec}}"

        >{{spec}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-row class="ion-justify-content-center">
      <ion-button disabled="{{(!playerClass || !spec)}}" (click)="patchUser()"><strong> SPEICHERN </strong></ion-button>
    </ion-row>
  </ion-list>
</ion-content>
