<ion-content>
    <ion-grid *ngIf="myChar">
        <ion-row>
            <ion-col>
                <ion-button type="round" (click)="showCreateRaidModal()" *ngIf="myChar.isAdmin"
                            color="{{myChar.playerClass.toString().toLowerCase()}}" expand="block">
                    <strong>
                        Neuen Raid erstellen
                    </strong>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-card class="ion-padding vertical-align-content" *ngFor="let raid of raids">
            <ion-row>
                <ion-col *ngIf="myChar.isAdmin" size="1" style="margin-top: 1.3em">
                    <ion-icon (click)="presentDeleteConfirm(raid)" color="danger" size="large"
                              name="close-circle-sharp"></ion-icon>
                </ion-col>
                <ion-col size="1" class="ion-float-left">
                    <ion-avatar class="ion-float-right">
                        <img src="../assets/dungeons/{{raid.dungeonName}}.png">
                    </ion-avatar>
                </ion-col>
                <ion-col class="ion-padding-top" size="2">
                    <ion-row>
                        <ion-text style="font-size: 1.2em">
                            {{raid.dungeonName}}
                        </ion-text>
                    </ion-row>
                    <ion-row>
                        <ion-text style="font-size: 1.2em">
                            <strong>
                                <ion-datetime class="ion-no-padding" disabled="true" displayFormat="HH:mm DDDD, MMM D"
                                              value="{{raid.date}}">
                                </ion-datetime>
                            </strong>
                        </ion-text>
                    </ion-row>

                </ion-col>
                <ion-col size="1.5" class="ion-margin-top ion-justify-content-center">
                    <ion-row class="ion-justify-content-center">
                        <ion-badge color="light" style="font-size: 1.5em">
                            {{getConfirmed(raid).length || 0}}  ✅
                        </ion-badge>
                    </ion-row>

                </ion-col>
                <ion-col size="1.5" class="ion-margin-top ion-justify-content-center">
                    <ion-row class="ion-justify-content-center">
                        <ion-badge color="light" style="font-size: 1.5em">
                            {{getDeclined(raid).length || 0}}  ❌
                        </ion-badge>
                    </ion-row>

                </ion-col>
                <ion-col size="1.5" class="ion-margin-top ion-justify-content-center">
                    <ion-row class="ion-justify-content-center">
                        <ion-badge color="light" style="font-size: 1.5em">
                            {{getBench(raid).length || 0}}  🪑
                        </ion-badge>
                    </ion-row>

                </ion-col>
                <ion-col size="1.5" class="ion-margin-top ion-justify-content-center">
                    <ion-row class="ion-justify-content-center">
                        <ion-badge color="light" style="font-size: 1.5em">
                            {{getLate(raid).length || 0}} ⌛️
                        </ion-badge>
                    </ion-row>

                </ion-col>

                <ion-col *ngIf="!isAlreadyRegistered(raid)" size="2" style="margin-top: 1em">
                    <ion-button  style="width: 14em" class="ion-text-center" (click)="presentRaidRegistration(raid)"
                                color="{{myChar.playerClass.toString().toLowerCase()}}">
                        <ion-icon slot="start" class="ion-padding-end" name="calendar-sharp"></ion-icon>
                        <strong>
                            Registrierung
                        </strong>
                    </ion-button>
                </ion-col>
                <ion-col *ngIf="isAlreadyRegistered(raid)" size="2" style="margin-top: 1em">
                    <ion-button style="width: 14em" class="ion-text-center" (click)="presentRaidRegistration(raid)"
                                color="{{myChar.playerClass.toString().toLowerCase()}}">
                        <ion-icon class="ion-padding-end" type="round" name="pencil-outline">

                        </ion-icon>
                        <strong>
                            Ändern
                        </strong>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card>


    </ion-grid>
</ion-content>
