<ion-content>
  <ion-grid *ngIf="player">
        <ion-row>
          <ion-col>
            <ion-button type="round" (click)="showCreateRaidModal()" *ngIf="player.isAdmin" color="{{player.playerClass.toString().toLowerCase()}}" expand="block">
              <strong>
                Neuen Raid erstellen
              </strong>
            </ion-button>
          </ion-col>

        </ion-row>
        <ion-row *ngFor="let raid of raids">
          <ion-col>
            {{raid.dungeonName}}
          </ion-col>
          <ion-col>
            {{raid.registrations.length || 0}} / 40 Anmeldungen
          </ion-col>
          <ion-col>

            {{raid.registrationDeadline.getDate()}}
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
