<ion-header>
    <ion-row>
        <ion-col size="8">
            <ion-searchbar [(ngModel)]="searchTerm"
                           (ionChange)="setFilteredItems()" placeholder="Suche nach Namen, Klasse oder Spec"
                           animated="true"></ion-searchbar>
        </ion-col>
        <ion-col size="4" class="ion-float-right">
            <ion-row class="ion-text-center">
                <ion-col
                        size="8">
                    <ion-chip class="ion-margin-horizontal">
                        <ion-header class="ion-text-center">
                            Insgesamt
                        </ion-header>
                        <ion-avatar style="width: 3em">
                            <img src="../assets/misc.png">
                        </ion-avatar>
                        <ion-label class="ion-float-right">
                            {{filteredPlayers ? filteredPlayers.length : 0}}</ion-label>
                    </ion-chip>
                </ion-col>
                <ion-col>
                    <ion-button color="{{MyChar.playerClass.toString().toLowerCase()}}" (click)="updatePlayers()">
                        <ion-icon name="refresh"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-col>

    </ion-row>
</ion-header>

<ion-content>
    <ion-grid class="vertical-align-content">
        <ion-card>
            <ion-row class="ion-justify-content-center">

                <ion-col
                        *ngFor="let playerClass of allClasses"
                        class="ion-margin-horizontal"
                        style="width: 6em;"
                        size="1.2">
                    <ion-chip>
                        <ion-header>
                            {{playerClass}}
                        </ion-header>
                        <ion-avatar style="width: 3em">
                            <img src="../assets/class/{{playerClass.toLowerCase()}}.png">
                        </ion-avatar>
                        <ion-label>{{findAllPlayersOfOneClass(PlayerClass[playerClass]).length}}</ion-label>
                    </ion-chip>
                </ion-col>

            </ion-row>
        </ion-card>
        <ion-card class="ion-padding" *ngFor="let player of filteredPlayers">
            <ion-row *ngIf="MyChar.ingameName !== player.ingameName"
                     class="ion-justify-content-center ion-align-items-center">
                <ion-col>
                    <ion-button
                            (click)="showEditUserModal(player)"
                            *ngIf="MyChar.isAdmin"
                            color="{{MyChar.playerClass.toString().toLowerCase()}}">
                        <ion-icon type="round" name="pencil-outline">

                        </ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col *ngIf="MyChar.ingameName !== player.ingameName" size="3">
                    <ion-row>
                        <ion-text style="font-size: 1.8em">
                            {{player.ingameName}}
                        </ion-text>
                    </ion-row>
                    <ion-row *ngIf="player.isAdmin" class="ion-margin-top">
                        <ion-badge color="{{MyChar.playerClass.toString().toLowerCase()}}">
                            ADMIN
                        </ion-badge>
                    </ion-row>

                </ion-col>
                <ion-col class="ion-text-center" size="3">
                    <ion-badge color="{{MyChar.playerClass.toString().toLowerCase()}}">{{player.dkp}} DKP</ion-badge>
                </ion-col>
                <ion-col size="2">
                    <ion-row>
                        <ion-text style="font-size: 1.5em" [ngClass]="player.playerClass.toString().toLowerCase()">
                            {{player.playerClass}}
                        </ion-text>
                    </ion-row>
                    <ion-row class="ion-margin-top">
                        <ion-text style="font-size: 1.5em"> {{player.spec}} </ion-text>
                    </ion-row>
                </ion-col>
                <ion-col size="1">
                    <ion-icon (click)="showDkpHistory(player)" color="{{MyChar.playerClass.toString().toLowerCase()}}"
                              size="large"
                              name="information-circle"></ion-icon>
                </ion-col>
                <ion-col size="2">
                    <ion-avatar class="ion-float-right">
                        <img src="../assets/role/{{player.spec.toString().toLowerCase()}}.png">
                    </ion-avatar>
                    <ion-avatar class="ion-float-right">
                        <img src="../assets/spec//{{player.playerClass.toString().toLowerCase()}}/{{player.talent.toString().toLowerCase()}}.png">
                    </ion-avatar>
                </ion-col>
            </ion-row>

            <!--     Row if this char is my char     -->
            <ion-row *ngIf="MyChar.ingameName === player.ingameName"
                     class="ion-justify-content-center ion-align-items-center">
                <ion-col>
                    <ion-button disabled="true" *ngIf="MyChar.isAdmin"
                                color="{{MyChar.playerClass.toString().toLowerCase()}}">
                        <ion-icon type="round" name="pencil-outline">

                        </ion-icon>
                    </ion-button>
                </ion-col>

                <ion-col *ngIf="MyChar.ingameName === player.ingameName" size="3">
                    <ion-row>
                        <ion-text color="{{MyChar.playerClass.toString().toLowerCase()}}" style="font-size: 1.8em">
                            <strong>
                                DU ({{MyChar.ingameName}})
                            </strong>
                        </ion-text>
                    </ion-row>
                    <ion-row *ngIf="MyChar.isAdmin" class="ion-margin-top">
                        <ion-badge color="{{MyChar.playerClass.toString().toLowerCase()}}">
                            ADMIN
                        </ion-badge>
                    </ion-row>
                </ion-col>
                <ion-col class="ion-text-center" size="3">
                    <ion-badge color="{{MyChar.playerClass.toString().toLowerCase()}}">{{MyChar.dkp}} DKP</ion-badge>
                </ion-col>
                <ion-col size="2">
                    <ion-row>
                        <ion-text style="font-size: 1.5em" [ngClass]="MyChar.playerClass.toString().toLowerCase()">
                            {{MyChar.playerClass}}
                        </ion-text>
                    </ion-row>
                    <ion-row class="ion-margin-top">
                        <ion-text style="font-size: 1.5em"> {{MyChar.spec}} </ion-text>
                    </ion-row>
                </ion-col>
                <ion-col size="1">
                    <ion-icon (click)="showDkpHistory(MyChar)" color="{{MyChar.playerClass.toString().toLowerCase()}}"
                              size="large"
                              name="information-circle"></ion-icon>
                </ion-col>
                <ion-col size="2">
                    <ion-avatar class="ion-float-right">
                        <img src="../assets/role/{{MyChar.spec.toString().toLowerCase()}}.png">
                    </ion-avatar>
                    <ion-avatar class="ion-float-right">
                        <img src="../assets/spec//{{MyChar.playerClass.toString().toLowerCase()}}/{{MyChar.talent.toString().toLowerCase()}}.png">
                    </ion-avatar>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-grid>

</ion-content>
