<ion-header>
    <ion-row>
        <ion-col size="8">
            <ion-searchbar

                    color="{{myChar.playerClass.toString().toLowerCase()}}"
                    [(ngModel)]="searchTerm"
                    (ionChange)="setFilteredItems()"
                    placeholder="Suche nach Namen, Klasse oder Spec"
                    animated="true"></ion-searchbar>

        </ion-col>
        <ion-col class="ion-text-center verticalCenter"
                 size="2">
            <ion-chip>
                <ion-header>
                    Insgesamt
                </ion-header>
                <ion-avatar style="width: 3em">
                    <img src="../assets/misc.png">
                </ion-avatar>
                <ion-label class="ion-margin ion-float-right">
                    {{filteredPlayers ? filteredPlayers.length : 0}}</ion-label>
            </ion-chip>

        </ion-col>
        <ion-col class="verticalCenter" size="1">
            <ion-button color="{{myChar.playerClass.toString().toLowerCase()}}" (click)="swapDkpSort()">

                DKP
                <ion-icon *ngIf="this.isDkpSortAscending" name="arrow-up"></ion-icon>
                <ion-icon *ngIf="!this.isDkpSortAscending" name="arrow-down"></ion-icon>

            </ion-button>
        </ion-col>
        <ion-col class="verticalCenter" size="1">
            <ion-button color="{{myChar.playerClass.toString().toLowerCase()}}" (click)="updatePlayers()">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-card>
            <ion-row class="ion-justify-content-center">
                <ion-col
                        *ngFor="let playerClass of allClasses"
                        size="3">
                    <ion-chip class="ion-justify-content-center" style="width:100%">


                        <ion-avatar class="ion-float-left">
                            <img src="../assets/class/{{playerClass.toLowerCase()}}.png">
                        </ion-avatar>


                        <ion-label class="ion-float-right"> {{playerClass}}
                            : {{findAllPlayersOfOneClass(playerClass).length}}</ion-label>
                    </ion-chip>
                </ion-col>

            </ion-row>
        </ion-card>
        <ion-card *ngFor="let player of filteredPlayers">
            <ion-row

                    class="ion-justify-content-center ion-align-items-center">

                <ion-col size="1.5">
                    <ion-avatar style="height: 2.5em; width: 2.5em" class="ion-float-left">
                        <img src="../assets/role/{{player.spec.toString().toLowerCase()}}.png">
                    </ion-avatar>
                    <ion-avatar style="height: 2.5em; width: 2.5em" class="ion-float-left">
                        <img src="../assets/spec/{{player.playerClass.toString().toLowerCase()}}/{{player.talent.toString().toLowerCase()}}.png">
                    </ion-avatar>
                </ion-col>
                <ion-col size="1">
                    <ion-badge *ngIf="player.isAdmin" color="{{myChar.playerClass.toString().toLowerCase()}}">
                        ADMIN
                    </ion-badge>
                </ion-col>
                <ion-col size="1" class="ion-text-center">
                    <ion-badge color="{{player.playerClass.toString().toLowerCase()}}">
                        {{player.playerClass}}
                    </ion-badge>
                </ion-col>
                <ion-col class="ion-text-center" size="1">
                    <ion-badge color="{{player.playerClass.toString().toLowerCase()}}">
                        {{player.spec}}
                    </ion-badge>
                </ion-col>

                <ion-col size="2" >
                    <ion-text style="font-size: 1.8em">
                        {{player.ingameName}}  {{myChar.ingameName === player.ingameName ? ' (DU)' : ''}}
                    </ion-text>

                </ion-col>
                <ion-col class="ion-text-center" size="1">
                    <ion-badge style="width: 100%" color="{{getColorForRank(player)}}">
                        {{getFormatForRankBadge(player.dkpRank)}}</ion-badge>
                </ion-col>
                <ion-col class="ion-text-center" size="1">
                    <ion-badge
                            style="width: 100%"
                            color="{{myChar.playerClass.toString().toLowerCase()}}">{{player.dkp}} DKP</ion-badge>
                </ion-col>



                <ion-col class="ion-justify-content-center" size="1">
                    <ion-icon *ngIf="myChar.isAdmin" (click)="showDkpHistory(player)"
                              color="{{myChar.playerClass.toString().toLowerCase()}}"
                              size="large"
                              name="information-circle"></ion-icon>
                </ion-col>
                <ion-col *ngIf="myChar.isAdmin" size="1">
                    <ion-button
                            (click)="showEditUserModal(player)"
                            color="{{myChar.playerClass.toString().toLowerCase()}}"
                            style="width: 100%; height: 100%">
                        <ion-icon type="round" size="large" name="pencil-outline">

                        </ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col class="ion-text-center" *ngIf="myChar.isAdmin" size="1">

                    <ion-icon
                            color="danger"
                            size="large"
                            (click)="presentDeleteConfirm(player)"
                            name="close-circle-sharp"></ion-icon>
                </ion-col>
                <ion-col *ngIf="!myChar.isAdmin" size="2">
                    <ion-button
                            color="{{myChar.playerClass.toString().toLowerCase()}}"
                            (click)="showDkpHistory(player)">
                        <ion-icon
                                size="large"
                                name="information-circle-outline"></ion-icon>
                        DKP Log
                    </ion-button>

                </ion-col>


            </ion-row>


        </ion-card>
    </ion-grid>

</ion-content>
